{% extends 'base.html.twig' %}

{% block title %}Edit Situation{% endblock %}

{% block body %}
    <h1>Edit Situation</h1>

    {{ include('situation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ app.request.headers.get('referer') }}">back</a>

    {{ include('situation/_delete_form.html.twig') }}
{% endblock %}
