{% extends 'base.html.twig' %}

{% block title %}New Situation{% endblock %}

{% block body %}
    <h1>Create new Situation</h1>

    {{ include('situation/_form.html.twig') }}

    <a href="{{ app.request.headers.get('referer')  }}">back</a>
{% endblock %}
