{% extends 'base.html.twig' %}

{% block title %}Edit Portefeuille{% endblock %}

{% block body %}
    <h1>Edit Portefeuille</h1>

    {{ include('portefeuille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ app.request.headers.get('referer')  }}">back </a>

    {{ include('portefeuille/_delete_form.html.twig') }}
{% endblock %}
