{% extends 'base.html.twig' %}

{% block title %}Modifier Portefeuille{% endblock %}

{% block body %}
    <h1>Modifier Portefeuille</h1>

    {{ include('portefeuille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_portefeuille_index') }}">Retour</a>

    {{ include('portefeuille/_delete_form.html.twig') }}
{% endblock %}
