{% extends 'base.html.twig' %}

{% block title %}New Portefeuille{% endblock %}

{% block body %}
    <h1>Create new Portefeuille</h1>

    {{ include('portefeuille/_form.html.twig') }}

    <a href="{{ app.request.headers.get('referer')  }}">back </a>
{% endblock %}
