{% extends 'base.html.twig' %}

{% block title %}Edit Promo{% endblock %}

{% block body %}
    <h1>Edit Groupe Competence</h1>


    <h1 class="text-center">Créer une nouvelle situation</h1>
    <div class="formAll">
        <div class="button-container">
            {{ include('promo/_form.html.twig', {'button_label': 'Update'}) }}
            <a href="{{ app.request.headers.get('referer') }}" class="return-btn">Retour</a>
            {{ include('promo/_delete_form.html.twig') }}
        </div>
    </div>






{% endblock %}
