{% extends 'base.html.twig' %}

{% block title %}Modifier Prof{% endblock %}
{% block stylesheets %}    <link rel="stylesheet" href="{{ asset('CSS/StyleNew.css') }}"> {% endblock %}
{% block body %}
    <h1 class="text-center">Modifier Prof</h1>
    <div class="formAll">
        <div class="button-container">
            {{ include('prof/_form.html.twig', {'button_label': 'Update'}) }}
            <a href="{{ app.request.headers.get('referer') }}" class="return-btn">Retour</a>
            {{ include('prof/_delete_form.html.twig') }}
        </div>
    </div>




{% endblock %}
